<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script defer src="../javascript/calendario.js"></script>
    <title>Calendario de reservas</title>
</head>
<body>
    <header>
        <h2 class="header__title">SELECCIONE EL DÍA DE ALQUILER</h2>
    </header>

    <div class="calendar">

    <div class="calendar__info">

        <div class="calendar__prev" id="prev-month"> <-- </div>
        <div class="calendar__month" id="month"></div>
        <div class=" calendar__year" id="year"></div>
        <div class="calendar__next" id="next-month">--></div>

    </div>

    <div class="calendar__week">

        <div class="calendar__day calendar__item">Mon</div>
        <div class="calendar__day calendar__item">Tue</div>
        <div class="calendar__day calendar__item">Wed</div>
        <div class="calendar__day calendar__item">Thu</div>
        <div class="calendar__day calendar__item">Fri</div>
        <div class="calendar__day calendar__item">Sat</div>
        <div class="calendar__day calendar__item">Sun</div>
        
    </div>

    <div class="calendar__dates" id="dates"></div>
    
    </div>
   
    
</body>
</html>