<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&family=Caveat&family=Mate+SC&family=Old+Standard+TT&family=Roboto:wght@100;700&family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="../javascript/calendario.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Calendario de reservas</title>
</head>
<body>
    <header>
        <img src="../img/salvavidas.png" alt="">
        <h2 class="header__title">SELECCIONE EL DÍA DE ALQUILER</h2>
        <img src="../img/salvavidas.png" alt="">
    </header>

    <main class="main__calendario">

    <div class="calendar">

    <div class="calendar__info">

        <div class="calendar__prev" id="prev-month"> <-- </div>
        <div class="calendar__month" id="month"></div>
        <div class=" calendar__year" id="year"></div>
        <div class="calendar__next" id="next-month">--></div>

    </div>

    <div class="calendar__week">

        <div class="calendar__day calendar__item">Mon</div>
        <div class="calendar__day calendar__item">Tue</div>
        <div class="calendar__day calendar__item">Wed</div>
        <div class="calendar__day calendar__item">Thu</div>
        <div class="calendar__day calendar__item">Fri</div>
        <div class="calendar__day calendar__item">Sat</div>
        <div class="calendar__day calendar__item">Sun</div>
        
    </div>

    <div class="calendar__dates" id="dates"></div>
    
    </div>
</main>

<footer>
    <div class="footer__top">
        <p>PATROCINADORES</p>
    </div>
    <div class="patrocinadores">
        <img src="../img/yca.png" alt="">
        <img src="../img/unen.png" alt="">
        <img src="../img/cuba.jpg" alt="">
        
    </div>
    <picture class="contacto">
        <img class="contacto__logos" src="../img/email.svg" alt="">
        <img class="contacto__logos" src="../img/instagram.svg" alt="">
        <img class="contacto__logos" src="../img/whatsapp.svg" alt="">
        <img class="contacto__logos" src="../img/ubicacion.svg" alt="">
    </picture>
    <div class="copyright">
        <p>©NAUTICO TISSONE 2020-2022</p>
    </div>
</footer>
    
</body>
</html>