.headerIndex {
  height: auto; }
  .headerIndex h1 {
    text-align: center;
    color: #10558e; }
  .headerIndex .navMenu {
    display: flex;
    flex-flow: row, nowrap;
    justify-content: space-around;
    font-size: large;
    color: #10558e;
    text-decoration: underline;
    border: solid 1px grey;
    background-color: beige; }

.mainIndex article {
  color: #10558e;
  text-align: center;
  font-size: large; }

.footerIndex {
  display: flex;
  flex-flow: row, nowrap;
  justify-content: space-around;
  font-size: large;
  color: #10558e;
  text-decoration: underline;
  border: solid 1px grey;
  background-color: beige; }
