* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  text-decoration: none; }

#main_title {
  text-align: center;
  margin: 1%;
  padding: 2%;
  border: solid 1px black;
  background-color: grey; }

.main_subtitle {
  text-align: center;
  margin: 1%;
  padding: 2%;
  border: solid 1px black;
  background-color: grey; }

section {
  display: flex;
  justify-content: center; }

table {
  width: 50%; }

tbody {
  text-align: center; }

th {
  border: solid 1px black;
  padding: 10px; }

tr {
  border: solid 1px black;
  padding: 10px; }

td {
  border: solid 1px black;
  padding: 10px; }
