
body{
   background-color: #81b5c638;
}

header{
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: flex-end;
}

.header__title{
    text-align: center;
    color: #807d8b;
    margin-left: 1rem;
    margin-right: 1rem;
}

.main__calendario{
    height: 100vh;
    background-image: url(../../public/img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-bottom: 2rem;


.calendar {
    background-color:#d9af7bc9;
    width: 50rem;
    height: 25rem;
    margin: auto;
    border: solid 1.5px black;

    &__info{
        display: flex;
        align-items: center;
        background-color: #6c242445;

        .calendar__prev{
            margin-right: auto;
            cursor: pointer;
            padding: 0.5rem;
        }
        .calendar__prev:hover{
            background-color: #c7bdbd;
        }

        .calendar__next{
            margin-left: auto;
            cursor: pointer;
            padding: 0.5rem;
        }

        .calendar__next:hover{
            background-color: #c7bdbd;
        }

        .calendar__month{            
            padding: 0.3rem;
            text-transform: uppercase;
            font-weight: bolder; 
        }

        .calendar__year{            
            padding: 0.3rem;
            font-weight: bolder; 
        }        
    }

    &__week, &__dates {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        margin: 0.5rem;
        align-items: baseline;
        padding: 0.3rem;     
    }

    .calendar__day{
        text-decoration: underline;
    }

    .calendar__item{
        display: flex;
        justify-content: center;
        line-height: 2;
        font-weight: bolder;          
    }

    .calendar__today{
        background-color: rgb(13, 121, 170);
        width: 50%;
        margin: auto;
        border-radius: 50%;    

    }

    .calendar__lastDays{
        color: #fb0000;
    }

    .diaSeleccionable {
        cursor: pointer;
    }
    .diaSeleccionable:hover{
        background-color: #91b7e4c9;
        border: solid 1.5px #6c242445;
        margin: auto;
        width: 50%;
    }

    .diaOcupado{
        display: flex;
        justify-content: center;
        line-height: 2;
        font-weight: bolder;
        color: gray;
        cursor: pointer;       
    }
   
}
}

footer{
    background: linear-gradient(45deg, rgba(9,85,121,1) 35%, rgb(40, 162, 187) 100%, rgba(22,0,36,1) 100%);
    
    .footer__top{
        text-align: center;
        color: aliceblue;
        padding: 0.5rem;
        font-size: larger;
    }


    .patrocinadores{
        display: flex;
        justify-content: space-evenly;
        padding: 1.5rem;
        background-color: #ffffff75;


        img{
            width: 13%;
            border-radius: 50%;
        }
    }
    
    .contacto{
        display: flex;
        justify-content: space-around;
        margin-bottom: 1rem;
        padding: 1rem;

        &__logos{
            width: 3.5%;
            height: auto;
        }
        .contacto__logos:hover{
            cursor: pointer;
        }
    }
    .copyright{
        border-top: solid 1px cornsilk;
        text-align: center;
        padding: 1.5rem;
        color: aliceblue;
    }
}

// MEDIA QUERIES


@media screen and (max-width: 759px){
    footer{
        .contacto__logos{
            width: 5%;
        }
        .patrocinadores{
            img{
                width: 18%;
            }
        }
    }
  
}

@media screen and (max-width:425px){
   header{
    align-items: center;
   }

   footer{
    .contacto__logos{
        width: 5.9%;
    }
    .patrocinadores{
        img{
            width: 23%;
        }
    }
}

   
}