
.headerIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    padding: 1%;
    border: solid 1px black;
    background-color: rgba(20, 53, 162, 0.863);
    border-radius: 0.75rem;
    width: 100%;
    height: auto; 

    #main_title{
        text-align: center;
        height: auto;
        margin: 0%;
        margin-bottom: 2%;
        width: 100%;
       
    }

    .ocultar{
        display: none;
    }

    #botonVerUltimoAlquiler{
        background-color: rgb(12, 131, 12);
    }

    .divBotonContinuar{    
        margin: 0%;
        padding: 0%;
        width: auto;
    }
           
}


.main_subtitle{
    text-align: center;
    margin: 1%;
    padding: 2%;
    border: solid 1px black;
    background-color: rgba(20, 53, 162, 0.863); 
    border-radius: 0.75rem;  
}


.btn-primary{
    color: white;
    background-color: blue;
    padding: 6px 12px;
    border-radius: 0.375rem;
    border: solid 1px black;

}

.btn-primary2{
    color: black;
    background-color: rgb(54, 174, 54);
    padding: 6px 12px;
    border-radius: 0.375rem;
    border: solid 1px black;
}


section {
    display: flex;
    justify-content: center;


    table {    
        width: 50%;    
    
    }
    tbody{
        text-align: center;
    
    }

    th {
        border: solid 1px black;
        padding: 10px;

    }

    tr {
        border: solid 1px black;
        padding: 10px;
    }

    td {
        border: solid 1px black;
        padding: 10px;
    }
}
#listadoCarrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%; 
    font-size: x-large;
    width: auto; 
}

.listadoProductos{
    display: flex;
    justify-content: center;
    border: solid 1px black;
    width: 50%;
    height: auto;
    text-align: center;
    font-size: large;
    padding: 1rem;
    background-color: rgb(54, 174, 54);

    .btn-danger{
        margin-left: auto;

    }
  
}

.divBotonContinuar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    width: auto;
}

#botonContinuar{
    width: 100%;
    height: 50px;
}