
.bodyIndex{
    background-color: $background-principal;       
}

.headerIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    padding: 1%;
    border: solid 1px $color-bordes;
    border-radius: 0.75rem;
    width: 100%;
    height: 38vh;
    background-image: url("../../public/img/atardecer_rio_de_la_plata.svg");
   

    #main_title{
        text-align: center;
        height: auto;
        margin: 0%;
        margin-bottom: 2%;
        width: 100%;
        font-weight: bolder;        
    }

    .ocultar{
        display: none;
    }

    #botonVerUltimoAlquiler{
        background-color: unset;       
        color: black;
        font-weight: bold;        
    }

    #botonVerUltimoAlquiler:hover{
        background-color: rgba(217, 175, 123, 0.69);
        text-decoration: underline;
        border-color: unset;
    }   
           
}

.card{
    background-color:#63594d;    
    border-color: $color-bordes;
}

.card-title{     
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: underline;
}

.card-text{
    font-weight: bolder;
}


.main_subtitle{
    text-align: center;
    margin: 1%;
    padding: 2%;
    border: solid 1px $color-bordes;
    background-color:#63594d;
    border-radius: 0.75rem;
    font-weight: bolder; 
}


.btn-primary{
    color: white;
    background-color: #64502d;
    padding: 1.5%;
    border-radius: 0.375rem;
    border: solid 1px $color-bordes;

}

.btn-primary:hover{
    background-color: rgba(217, 175, 123, 0.69);
    border-color: unset;
}

.btn-primary2{
    color: black;
    background-color: rgb(71, 12, 12);
    padding: 1.5%;
    border-radius: 0.375rem;
    border: solid 1px rgb(71, 12, 12);
}


section {
    display: flex;
    justify-content: center;


    table {    
        width: 50%;
        background-color:#63594d;  
    
    }
    tbody{
        text-align: center;
        font-weight: bolder;
    
    }

    th {
        border: solid 2px $color-bordes;
        padding: 0.5rem;

    }

    tr {
        border: solid 2px $color-bordes;
        padding: 0.5rem;
    }

    td {
        border: solid 2px $color-bordes;
        padding: 0.5rem;
    }
}
#listadoCarrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%; 
    font-size: x-large;
    width: auto; 
}

.listadoProductos{
    display: flex;
    justify-content: center;
    border: solid 1px black;
    width: 50%;
    height: auto;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    padding: 1rem;
    background-color: rgb(196, 190, 190);

    .btn-danger{
        margin-left: auto;

    }
  
}

.divBotonContinuar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    width: auto;
}

#botonContinuar{
    width: 100%;
    height: 3rem;
}

//                              MEDIA QUERIES

@media screen and (max-width: 450px){

    html{
        font-size: 75%;
    }

    .headerIndex{
        height: 30vh;
    }

    ul{
        text-align: center;
    }

    .listadoProductos{
        width: 100%;
    }

}





